In [14]:
import pandas as pd

In [15]:
brics = pd.read_csv("brics.csv", index_col = 0)

In [16]:
brics

         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [17]:
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [18]:
brics.country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [19]:
brics["on_earth"] = [True, True, True, True, True]

In [20]:
brics

         country  population      area    capital  on_earth
BR        Brazil         200   8515767   Brasilia      True
RU        Russia         144  17098242     Moscow      True
IN         India        1252   3287590  New Delhi      True
CH         China        1357   9596961    Beijing      True
SA  South Africa          55   1221037   Pretoria      True

In [21]:
brics["density"] = brics["population"] / brics["area"] * 1000000

In [22]:
brics

         country  population      area    capital  on_earth     density
BR        Brazil         200   8515767   Brasilia      True   23.485847
RU        Russia         144  17098242     Moscow      True    8.421918
IN         India        1252   3287590  New Delhi      True  380.826076
CH         China        1357   9596961    Beijing      True  141.398928
SA  South Africa          55   1221037   Pretoria      True   45.043680

In [23]:
brics.loc["BR"]

country          Brazil
population          200
area            8515767
capital        Brasilia
on_earth           True
density       23.485847
Name: BR, dtype: object

In [26]:
brics.loc["CH","capital"]

'Beijing'

In [27]:
brics["capital"].loc["CH"]

'Beijing'

In [30]:
brics.loc["CH"]["capital"]

'Beijing'

## Boolean And

In [29]:
True and True

True

In [31]:
True and False

False

In [32]:
False and True

False

In [33]:
False and False

False

In [34]:
x = 12

In [36]:
x > 5 and x < 15

True

## Boolean OR

In [37]:
True or True

True

In [38]:
True or False

True

In [39]:
False or True

True

In [40]:
False or False

False

In [41]:
y = 5

In [42]:
y <= 7 or y > 13

True

## Boolean not

In [43]:
not True

False

In [44]:
not False

True

## Conditional Statements ( if, else and elif)

In [46]:
z = 4
if z % 2 == 0 :
    print("Checking " + str(z))
    print("z is even")

Checking 4
z is even

In [48]:
z = 5
if z % 2 == 0 :
    print("z is even")
else :
    print("z is odd")

z is odd

In [50]:
z = 3
if z % 2 == 0 :
    print("z is divisible by 2")
elif z % 3 == 0 :
    print("z is divisible by 3")
else:
    print("z is neither divisible by 2 nor by 3")

z is divisible by 3